.bookmeet-container {
    text-align: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color:  #e3f2fd;;
  }
  
  .section-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #2c3e50;
  }
  
  .section-subtitle {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 2rem;
  }
  
  .features-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .feature-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .feature-icon {
    font-size: 2.3rem;
    color: #3498db;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .feature-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #34495e;
  }
  
  .feature-description {
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.5;
  }
  