.doctors-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f0f4f8;
  text-align: center;
}

h1 {
  color: #0077b6;
  margin-bottom: 20px;
  font-size: 35px; /* Adjusted size for the title */
}

.search-bar {
  margin: 20px 0;
  text-align: center;
}

.search-input {
  width: 60%;
  padding: 10px;
  font-size: 19px; /* Reduced font size for input */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg,#e6eef2, #b8dff2, #71dfd0 , #42f1d9 ); /* Gradient background */
  color: white;
  padding: 20px;
  width: 300px;
  text-align: left;
  font-size: 18px; /* Reduced font size for overall card content */
}

.card.blue {
  border-left: 5px solid #0077b6;
}

.card.green {
  border-left: 5px solid #28a745;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  background-color: #e9ecef;
}

.profile-pic i {
  font-size: 100px; /* Reduced font size for the profile icon */
  color: #0077b6;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 20px; /* Adjusted size for doctor names */
}

p {
  color: #555;
  margin-bottom: 8px;
  font-size: 18px; /* Uniform smaller size for paragraphs */
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px; /* Adjusted size for button text */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
